.form-container{
    background: #311a12;
    border-radius: 15px;
    border: solid #5a382c 2px;
}

.form-container p{
    color: white;
}

.header h1{
    background: linear-gradient(to right, rgb(255, 123, 0) 0%, rgb(255, 123, 0) 30%, rgb(255, 197, 142) 50%, rgb(255, 197, 142) 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 12px rgb(255, 123, 0);
    font-size: 5rem;
}

.form-container .form-group input[type="text"]{
    border-radius: 10px;
    background: #311a12;
    border: solid #91523b 1px;
    width: 100%;
}

.form-container .form-group input[type="text"]:focus{
    outline: none;
    box-shadow: 0 0 15px -5px #e4a48d;
}

.form-container .form-check label{
    border: solid #91523b 1px;
    border-radius: 10px;
}