<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="row justify-content-center align-items-center h-100 w-100 m-0 seal-backed">
        <div class="col-md-6 col-sm-12 overflow-y-auto">
            <div class="container overflow-y-auto">
                <h1 class="text-center ccs-phoenix">CCS Phoenix</h1>
            </div>

            <div class="card mx-5">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-center">
                            Login
                        </h4>
                    </div>

                    <div class="form-container">
                      <form method="post" action="/admin/login">
                        {% if message %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endif %}

                        <div class="form-group">
                            <label class="w-100">
                                Username
                                <input type="text" name="username" class="form-control">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="w-100">
                                Password
                                <input type="password" name="password" class="form-control">
                            </label>
                        </div>

                        <button type="submit" class="btn w-100">
                            Login
                        </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>